# AI
GEMINI_API_KEY=

# Site
NEXT_PUBLIC_SITE_URL=https://yourdomain.com

# Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Email
RESEND_API_KEY=
RESEND_FROM_EMAIL=Akeel Rishan <onboarding@resend.dev>
CONTACT_TO_EMAIL=mohamedrishanakeel13867@gmail.com

# Optional future
DATABASE_URL=
REDIS_URL=
NEXT_PUBLIC_POSTHOG_KEY=

# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_API_READ_TOKEN=
SANITY_WEBHOOK_SECRET=
NEXT_PUBLIC_SANITY_STUDIO_PROTECT=false
